html {
  box-sizing: border-box;
  font: 62.5% 'Source Sans Pro', sans-serif;
}
h1 {
  text-align: center;
  margin-top: 15px;
}
body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(22, 22, 22, 0.915);
  color: #e4e4e4;
}
div {
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(116, 115, 115, 0.915);
  color: #e4e4e4;
}
#elm-container {
  background-color: aqua;
  width: 95%;
  border: 2px;
  border-radius: 25px;
  color: black;
}
